
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">  <i   class="fa fa-fw fa-home"  > </i>Fashionista </a>
      </div>
      <ul class="nav navbar-nav">
            <li><a routerLink ="login" ><i class= "fa fa-fw fa-user" (click)="navigateuserlogin()"> </i> User Login</a></li>
            <li> <a routerLink="admin" ><i  class="fa fa-fw fa-user" (click)="navigateadminlogin()"> </i>Admin Login</a></li>
            <li> <a routerLink="contactus"> <i class="fa fa-fw fa-envelope" ></i> Contact Us</a></li>
            <li><a href="#"><span class="fa fa-shopping-cart"></span> Cart</a></li>
          </ul>
        </div>
        </nav>
  

  